*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Caja{
    width: calc((100% / 3) - 20px);
    height: 100px;
    background-color: blue;
    border: 1px solid white;
    float: left;
    margin: 10px;
}
@media screen and (min-width: 400px) and (max-width: 900px) {
    #Caja1, #Caja2 {
        width: calc((100% / 2) - 20px);
    }
    #Caja3{
        clear: left;
        width: calc(100% - 20px);
    }
    
}
@media screen and (max-width: 399px){
    #Caja1,#Caja2,#Caja3 {
        clear: left;
        width: calc(100% - 20px);
    }
}
#Caja1:hover{
    transform: rotate(50deg);
    transition: all .7s;
}
#Caja1{
    transition: all .7s;
}
#Caja2:hover{
    transition:all 7.s;
    font-size: 75px;
}
#Caja2{
    transition: all .8s;
}
#Caja3:hover{
    transform:translateX(150px)
}
#Caja3{
    transition: all .7s;
}



