* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Contenedor {
    height: 100vh;
    width: 100vw;
    display: grid;
    background-color: blue;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0;
}

.Caja {
    background-color: brown;
    border: 1px solid black;
    font-size: 120px;
    text-align: center;
    line-height: 2em;
}

.jugador-X {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: blue;
}

.jugador-O {
    transition: all 8.s;
    font-size: 100px;
    font-style: oblique;
    color: red;
}

#Caja11 {
    align-self: center;
    justify-self: center;
}